.button {
  margin: auto 5px;
  width: 100px;
}

.content {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.dropdown {
  margin: auto 5px;
}

.dropdown-menu {
  height: 300px;
  overflow-y: scroll;
}

.h2 {
  margin: 20px auto;
}

.nav-links {
  width: 100px;
}

.nav-main {
  width: 200px;
  margin-left: 20px;
}

.notification {
  border: solid;
  border-radius: 5px;
  padding: 10px;
  border-width: 1px;
  margin: 20px;
  background-color: lightpink;
}

.page-button-group {
  display: flex;
  justify-content: center;
  margin: auto auto 20px auto;
}

.spinner {
  text-align: center;
  margin: 20px;
}

.table {
  width: 100%;
  margin: 20px auto;
}

.text-and-table {
  text-align: center;
}

.view-more {
  color: darkgoldenrod;
}